:root {
  --xxm-tw: 32px;
  --xxm-th: 32px;
  --xxm-anim-duration: 0.7s;
  --xxm-walk-duration: 0.5s;
  --x: 0;
  --y: 0;
}

body {
  margin: 0;
}

.xxm {
  background-size: var(--xxm-tw) var(--xxm-th);
  background-repeat: repeat;
}

.xxm .layer {
  position: relative;
}

.xxm .tile {
  position: absolute;
  left: calc(var(--x) * var(--xxm-tw));
  top: calc(var(--y) * var(--xxm-th));
  width: var(--xxm-tw);
  height: var(--xxm-th);
  background-image: var(--tileset-image);
  background-position: calc(var(--tx) * var(--xxm-tw) * -1) calc(var(--ty) * var(--xxm-th) * -1);
}

.xxm .sprite {
  position: absolute;
  left: calc(var(--x) * var(--xxm-tw));
  top: calc(var(--y) * var(--xxm-th));
  width: var(--xxm-tw);
  height: var(--xxm-th);
  transition: var(--xxm-walk-duration) linear left, var(--xxm-walk-duration) linear top;
  z-index: var(--y);
}

.xxm .sprite.hero {
  z-index: calc(var(--y) + 1);
}

.xxm .sprite > div {
  position: absolute;
  left: calc(-1 * (var(--xxm-sw) - var(--xxm-tw)) / 2);
  top: calc(-1 * var(--xxm-sh) + var(--xxm-th));
  width: var(--xxm-sw);
  height: var(--xxm-sh);
  background-position-y: calc(var(--xxm-sy) * var(--xxm-sh));
}

@keyframes frames {
  to {
    background-position-x: calc(-4 * var(--xxm-sw));
  }
}

.xxm .sprite.animate > div,
.xxm .sprite.walking > div {
  animation: frames steps(4, end) infinite;
  animation-duration: var(--xxm-anim-duration);
}
