@font-face {
  font-family: sntregular;
  src: url("sntregular.ttf");
}

:root {
  --tw: 32px;
  --th: 32px;
  --anim-duration: 0.7s;
  --walk-duration: 0.5s;
  --x: 0;
  --y: 0;
}

body {
  margin: 0;
}

.xxm {
  position: relative;
  display: flex;
  overflow: hidden;
  font-size: 20px;
  font-family: sntregular;
  text-shadow: 1px 1px black;
}

.xxm .map {
  position: relative;
  flex: 1;
  background-size: var(--tw) var(--th);
  background-repeat: repeat;
}

.xxm .map .tile {
  position: absolute;
  left: calc(var(--x) * var(--tw));
  top: calc(var(--y) * var(--th));
  width: var(--tw);
  height: var(--th);
  background-image: var(--tileset-image);
  background-position: calc(var(--tx) * var(--tw) * -1) calc(var(--ty) * var(--th) * -1);
}

.xxm .map > .cursor .tile {
  left: 0;
  top: 0;
}

.xxm .map .sprite {
  position: absolute;
  left: calc(var(--x) * var(--tw));
  top: calc(var(--y) * var(--th));
  width: var(--tw);
  height: var(--th);
  z-index: var(--y);
}

.xxm .map > .cursor .sprite {
  left: 0;
  top: 0;
}

.xxm .map .sprite.hero {
  z-index: calc(var(--y) + 1);
}

.xxm .map .sprite > div {
  position: absolute;
  left: calc(-1 * (var(--sw) - var(--tw)) / 2);
  top: calc(-1 * var(--sh) + var(--th));
  width: var(--sw);
  height: var(--sh);
  background-position-y: calc(var(--sy) * var(--sh));
}

@keyframes frames {
  to {
    background-position-x: calc(-4 * var(--sw));
  }
}

.xxm .map .sprite.walking {
  transition: var(--walk-duration) linear left, var(--walk-duration) linear top;
}

.xxm .map .sprite.animate > div,
.xxm .map .sprite.walking > div {
  animation: frames steps(4, end) infinite;
  animation-duration: var(--anim-duration);
}

.xxm .map > .cursor {
  position: absolute;
  left: calc(var(--x) * var(--tw));
  top: calc(var(--y) * var(--th));
  width: var(--tw);
  height: var(--th);
  z-index: 100000;
}

.xxm .map > .cursor::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid aliceblue;
}

.xxm .ui {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
}

.xxm .ui .msgbox {
  position: absolute;
  left: 64px;
  right: 64px;
  bottom: 64px;
  border-image: url("msgbox.png") 7;
  border-style: solid;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: auto;
}

@keyframes flash {
  0%, 50%, to { opacity: 1 }
  25%, 75% { opacity: 0 }
}

.xxm .ui .msgbox > .cursor {
  display: inline-block;
  transform: scale(80%);
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
