:root {
  --tw: 32px;
  --th: 32px;
  --anim-duration: 0.7s;
  --walk-duration: 0.5s;
  --x: 0;
  --y: 0;
}

body {
  margin: 0;
}

.xxm {
  background-size: var(--tw) var(--th);
  background-repeat: repeat;
}

.xxm .layer {
  position: relative;
}

.xxm .tile {
  position: absolute;
  left: calc(var(--x) * var(--tw));
  top: calc(var(--y) * var(--th));
  width: var(--tw);
  height: var(--th);
  background-image: var(--tileset-image);
  background-position: calc(var(--tx) * var(--tw) * -1) calc(var(--ty) * var(--th) * -1);
}

.xxm .sprite {
  position: absolute;
  left: calc(var(--x) * var(--tw));
  top: calc(var(--y) * var(--th));
  width: var(--tw);
  height: var(--th);
  z-index: var(--y);
}

.xxm .sprite.hero {
  z-index: calc(var(--y) + 1);
}

.xxm .sprite > div {
  position: absolute;
  left: calc(-1 * (var(--sw) - var(--tw)) / 2);
  top: calc(-1 * var(--sh) + var(--th));
  width: var(--sw);
  height: var(--sh);
  background-position-y: calc(var(--sy) * var(--sh));
}

@keyframes frames {
  to {
    background-position-x: calc(-4 * var(--sw));
  }
}

.xxm .sprite.walking {
  transition: var(--walk-duration) linear left, var(--walk-duration) linear top;
}

.xxm .sprite.animate > div,
.xxm .sprite.walking > div {
  animation: frames steps(4, end) infinite;
  animation-duration: var(--anim-duration);
}
